.carousel{
  margin-bottom: 13px;
}

.carousel-inner{
  margin-top: 70px;
}

.title-margin-left{

  margin: 0px 30px;

  hr{
    margin-top: 11px;
    margin-bottom: 18px;
  }

}

.margin-bottom {
  margin-bottom: 80px;
}
