// Import page-specific CSS files here.

@import "scroll";
@import "pages/home";
@import "profile";

body{
  background-color: white;
}


.container-index {
  padding: 0px 15px 30px 15px;
  margin-top: 70px;
}

.filet-line{
  margin: 21px 0;
}


// .modal-dialog {
//   opacity: 0 !important;
// }
