.container-profile {
  padding: 5px 30px ;
  margin-top: 70px;
}

.button-top-profile {
position: absolute;
top: 0px;
right: 0px;
color: black;
}

.logo-follow {
  color: black;
}

.filet-profil{
  margin: 10px 0;
}
