.horizontal-scroll {
  overflow: scroll;
  margin-bottom: 13px;
}

::-webkit-scrollbar {
  display: none;
 }


 .profil-horizontal-scroll {
  overflow: scroll;
  margin-bottom: 19px;
  margin-top: 1.5px;
}
