.container-show-proposal{
  margin-top: 70px;
}

.image_show-proposal > img {
  margin: 15px;
}

.display-show-proposal{
  padding-left: 30px;
  padding-right: 30px;
}

.float-end .message-author {
  color: #9747FF;
}

.picto-size{
  font-size: 28px;
  position:absolute;
  top: 6px;
}
