body{
  margin-bottom: 71px;
}

.review_sub-small{
  font-family: bc-sklonar, sans-serif;
  font-size: 15px;
  }

.container-show{
  padding: 0px 30px;
}

.tag-container{
  .tag-expo-show {
    background: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
  }

}

.display-show > img{
  width: 100%;
  object-fit: cover;
  padding-bottom: 12px;
  height: 320px;
  margin-top: 70px;
}



.action-button > a{
  color: black;
  text-decoration: none;
}
