.container-show{
  padding: 30px;
}

.review_title-small{
  font-family: 'bebas-neue', sans-serif;
  font-size: 22px;
}

.review_sub-small{
  font-family: bc-sklonar, sans-serif;
  font-size: 15px;
}

.review_avatar > img{
  border-radius: 50%;
}

hr {
  border-width: 1px;
  width: 100%;
}

.tag-expo-show {
  background: #000000;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0px 15px;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: 400;
}

.display-show > img{
  width: 100%;
  object-fit: cover;
}
