.container-show{
  padding: 30px;
}

.paragraphe{
  .a{
    text-decoration: none;
    color: black;
  }
}

.review_title-small{
  font-family: 'bebas-neue', sans-serif;
}

.review_sub-small{
  font-family: bc-sklonar, sans-serif;
}

.show_review{
  margin-bottom: 20px;
}
