<% if current_user.in? proposal.users %>
  <button class="action-button next-tag color">Je ne participe plus</button>
<% else %>
  <%= simple_form_for([proposal, participant],
    data: { insert_avatar_in_list_target: "form", action: "submit->insert-avatar-in-list#send"}) do |f| %>
    <%= f.submit 'Je participe', class: "action-button next-tag color" %>
  <% end %>
<% end %>
