<div class="container-profile">
  <div class="d-flex justify-content-center">
    <%= render "shared/avatar", css_class: "avatar-xl" %>
  </div>
  <hr>
  <p class="paragraphe" style="font-size: 16px;"><%= @user.description %></p>
  <hr>

  <div class="d-flex justify-content-between">
    <h1 class="subtitle">Mes abonnements</h1>
    <%= link_to users_path do%>
      <i class="fa-solid fa-plus subtitle" style="font-size: 50px;"></i>
    <% end %>
  </div>
  <hr class="my-3">
  <div class="horizontal-scroll d-flex">
    <% @followings.each do |following| %>
      <%= following.receiver.photo.attached? ? cl_image_tag(following.receiver.photo.key, class: "avatar-large mx-1") : image_tag('black_placeholder.jpg', class: "avatar-large mx-1") %>
    <% end %>
  </div>

</div>
<%  console %>
