<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TROUVE TON EXPO !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <%= simple_form_for :filters, url: expos_path, method: :get do |f| %>
        <%= f.input :categories,
          collection: ["Art contemporain", "Conférence", "Enfants", "Expo", "Histoire", "Peinture", "Photo", "Sciences"],
          as: :check_boxes,
          label: "Quel type ?",
          include_hidden: false,
          checked: params[:filters][:categories] %>
        <%= f.submit "Go !", class:"action-button" %>
      <% end %>

      </div>
    </div>
  </div>
</div>
