<%= simple_form_for [@proposal,@message], html: { data: { action: "turbo:submit-end->proposal-subscription#resetForm" }, class: "" } do |f| %>
  <%= f.input :content, label: false, placeholder: "Votre message...", wrapper_html: {class: "flex-grow-1"} %>
  <div class="button-container">
    <%= f.submit "Envoyer", class: "action-button subtitle" %>
  </div>
<% end %>
