<div class="container-navbar">
  <div class="navbar">
    <ul class="list-inline">
      <li class="list-inline-item">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="far fa-home"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to expos_path, class: "navbar-brand" do %>
          <i class="fal fa-user-friends"></i>
        <% end %>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
