<div class="container-navbar">
  <div class="navbar">
    <ul class="list-inline">
      <li class="list-inline-item">
        <%= link_to root_path, class: "navbar-icone" do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to expos_path, class: "navbar-icone" do %>
          <i class="fa-solid fa-user-group"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
