<div class="search-bar-container">

  <form id="search-bar" action="/expos">
    <div class="submit-input">
      <button type="submit" id="search-icone">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="input-field">
      <input id="search-input" type="text" class="form-control" placeholder="Find expos" name="query">
    </div>
  </form>

</div>
