.button-container{
  margin: 16px 0px;

}

.action-button{
  width: 100%;
  background-color: transparent;
  justify-content: center;
  text-align: center;
  height: 40px;
  align-items: center;
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;

  p{
    font-family: bc-sklonar, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
  }
}

.next-tag {
  border: 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  font-family: bc-sklonar, sans-serif;

  p {
    color: #9747FF;
  }
}

.next-tag-container {
  width: 100%;
}
