.card-index {
  margin-bottom: 22px;

  .image-card-index {
    margin-bottom: 11px;
    max-width: 100%;
  }

  .arrondissement {
    color:#797979;
    min-width: 120px;
    text-align: right;
  }

}
