.card-index {
  margin-bottom: 22px;

  .image-card-index {
    margin-bottom: 1em;
    max-width: 100%;
  }

  .tag-index {
    background: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
  }

  .arrondissement {
    color:#797979;
    min-width: 120px;
    text-align: right;
  }

}
