.carrousel {
  z-index: 0;
}

.text_carrousel {
  position: absolute;
  padding : 30px 30px 0 30px;
  color: white;
  // overflow-wrap: break-word;
  font-family: bc-sklonar, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.title_carrousel {
  position: absolute;
  font-family: 'bebas-neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  padding : 30px 30px 0 30px;
  // line-height: 43px;
  color: white;
  margin-bottom: 6px;
  z-index: 1;
}

.title_expo_carrousel {
  font-family: 'bebas-neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 14px;
  color: $purple;
  margin-bottom: 6px;
  text-align: right;
}

.title_expo_carrousel_position {
  position: absolute;
  right: 100px;
  padding : 37px 0 0 30px;
  color: white;
  // overflow-wrap: break-word;
  font-family: bc-sklonar, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
