
.tag-selector {
  position: absolute;
  transform: scale(0);
  vertical-align: middle;
}

.tag-selector + label {
  cursor: pointer;
  display: flex;
  padding: 0.1rem 0.5rem;
  height: 150px;
  width: 150px;
  border-radius: 6px;
  color: #797979;
  border: 1px solid #797979;
  justify-content: center;
  text-align: center;
}
.tag-item {

  display: inline-block;
  font-size: 18px;
  height: 150px;
  width: 150px;
  font-family: bc-sklonar, sans-serif;
  text-transform: uppercase;
  margin: 4px;

}

.tag-selector:checked + label {

  border: 1.5px solid #9747FF;
}

.modal-question{
  margin: 0px 12px;
  hr{
    margin-top: 11px;
    margin-bottom: 16px;

  }

}



.title_modal {
  font-family: 'bebas-neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #9747FF;
  margin-bottom: 30px;
  margin-top: 12px;
  text-align: center;
}

.modal-subtitle {
  text-align: center;
}

.modal-header {
  border: none;
}

.col-form-label {
  display: none;
}

.modal-footer {
  margin: 0px;
  padding: 0px 12px;
  margin-bottom: 22px;
  margin-top: 12px;
  border: none;
}

.btn-close {
  margin-left: 90%;
  font-size: 20px;
  margin-top: 2px;
}

.purple {
  color: #9747FF;
  font-weight: bold;
}

.modal-dialog{
  margin: 69px 15px;
}

.modal-content{
  padding: 15px;
  border-radius: 10px;
  height: 818px;
  width: 360px;
  top: 13px;
  position: fixed;
}

.modal-body{
  padding: 0px;
  text-align: center;

}
