.notif {
  border-radius: 50%;
  color: $purple;
  border: 1px solid $purple;
  background-color: transparent;
  position: absolute;
  line-height: 30px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  top: 7px;

  // .counter{

  // }


  &.abonnements {
    left: 170px;
  }

  &.favoris {
    left: 95px;
  }

  &.sorties {
    left: 200px;
  }

  &.abonnés {
    position: relative;
    top: 0;
  }
}

.d-flex {
  position: relative;
}

.title-abonnés {
  color: $purple;
}
