
  .tag-expo {
    background: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1px 15px 0px 15px;
    display: inline-block;
    margin-top: 8px;
    margin-right: 1px;
    font-size: 15px;
    font-weight: 400;
  }

  .tag-query{
    background: white;
    border: solid 1px #9747FF;
    border-radius: 4px;
    color: #9747FF;
    text-decoration: none;
    padding: 1px 15px 0px 15px;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 18px;
    margin-right: 1px;
    font-size: 15px;
    font-weight: 500;

  }

  .tag-container{
    margin-top: 6px;
    margin-bottom: 2px;
  }
