
  .tag-expo {
    background: #000000;
    border-radius: 4px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
  }
