.title {
  font-family: 'bebas-neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: black;
  margin-bottom: 8px;
}

.subtitle,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bc-sklonar, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: black;
  margin: 0;
}

.paragraphe {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin: 0;
}
